.navbar {
    padding: 25px;
    background-color: #282c34;
    /* background-color: transparent; */
    /* background: linear-gradient(90deg, #4FB5C8, #E1C5B0); */
}

.navbar-list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar-item {
    margin: 0 10px;
    font-weight: bold;
}

.navbar-link {
    /* color: #f77f00; */
    /* color: #ffbf69; */
    color: #6fffe9;
    font-size: large;
    text-decoration: none;
}

.navbar-link:hover {
    transition: ease-out 0.8s;
    color: #cbf3f0;
}

.username {
    margin-left: 1130px;
    /* color: #55dde0; */
    color: #ee964b;
    cursor: pointer;
}

.username-display {
    margin-left: 5px;
}