.navbar {
    padding: 25px 25px;
    background-color: #282c34;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex: 1;
}

.navbar-item {
    margin: 0 15px;
    font-weight: bold;
    white-space: nowrap;
}

.navbar-link {
    color: #3191b7;
    font-size: large;
    text-decoration: none;
}

.navbar-link:hover {
    transition: ease-out 0.8s;
    color: #cbf3f0;
}

.user-actions {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.username {
    color: #ee964b;
    cursor: pointer;
    margin-right: 10px;
}

.username-display {
    margin-left: 5px;
}

.logout-button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}