@keyframes typing2 {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.mail {
    color: #bc6c25;
    display: inline-block;
    display: inline;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation: typing2 4s steps(300, end) forwards, blinkCaret 0.75s step-end infinite;
}

.welcome {
    color: #219ebc;
}

.button-mail {
    background-color: #000000;
    height: 45px;
    color: whitesmoke;
    font-weight: bold;
}